
#img-bg{
    background-image: url('https://cdn.discordapp.com/attachments/814843784529313795/884595067677990922/Mobile_login-pana_1.png');

    min-height: 695px;
    
    background-position:center;  
    background-repeat: no-repeat;
    background-size: cover;
}

.back{
    background-color:#F2C438 ;
    border-radius: 10px;
}

h1, label{
    color: #ffff;
}

input, option{
    background-color: #ffffff;
}

.botao-cor{
    background-color:#8b5b00;
    color: #ffffff;
}

.botao-cor:hover{
    background-color: #887249;
    color: #ffffff;
    
}

.botao-cor-red{
    background-color: rgb(160, 21, 21);
    color: #ffffff;
}

.botao-cor-red:hover{
    background-color:rgb(161, 75, 75) ;
}