.bg-tema {
background-color: #f0b986;   
}

.botao-cor{
    background-color:#8b5b00;
    color: #ffffff;
}

.botao-cor:hover{
    background-color: #887249;
    color: #ffffff;
    
}

.botao-cor-red{
    background-color: rgb(160, 21, 21);
    color: #ffffff;
}

.botao-cor-red:hover{
    background-color:rgb(161, 75, 75) ;
}