#img-bg{
    background-image: url('https://public-files.gumroad.com/rtkz75kvl048700tpa3orc98b75l');

    min-height: 695px;
    background-position:center;  
    background-repeat: no-repeat;
    background-size: cover;
}