.colortext{
    text-decoration-color: black;
}

.bgjumbo{
    background-color: #ebae75;
}

.bg-superior{
    /* background: rgb(255,255,255);
    background: linear-gradient(140deg, rgba(255,255,255,1) 0%, rgba(242,196,56,1) 45%, rgba(191,126,4,0.7906512946975666) 92%); */
    background: rgb(255,255,255);
background: linear-gradient(140deg, rgba(255,255,255,1) 0%, rgba(242,196,56,0.40689779329700626) 45%, rgba(191,126,4,0.7906512946975666) 92%);
}

.text-colorr{
    color: #744002;
    
}

.btn-outline-dark{
    color: #744002;
    
}

.btn-outline-dark:hover{
    background-color:  #744002;
    color: white;
    
}

a{
    color: #744002;
}


.botao-cor{
    background-color:#8b5b00;
    color: #ffffff;
}

.botao-cor:hover{
    background-color: #887249;
    color: #ffffff;
    
}

.botao-cor-red{
    background-color: rgb(160, 21, 21);
    color: #ffffff;
}

.botao-cor-red:hover{
    background-color:rgb(161, 75, 75) ;
}